<div class="page_wrapper">
  <div class="profile_image">
    <%= image_tag "" %>
  </div>
  <div class="content">
    <h1>It's Mr. Stick Figure</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit neque, nisi pulvinar interdum nibh consequat ac dignissim ultrices inceptos, varius netus arcu fames suspendisse vestibulum litora. Maecenas convallis dictumst in libero morbi nulla varius bibendum, parturient eleifend vehicula ad nisi placerat tempor sapien ridiculus, viverra netus leo porta a nullam senectus. Nibh feugiat lectus potenti fermentum odio inceptos parturient, vulputate mollis praesent nisl aliquam vitae, nullam morbi nostra duis cubilia ultrices.</p><p>Himenaeos pretium sed et eleifend velit lacus suspendisse ornare, pellentesque nullam vulputate facilisis tortor lobortis eget platea, tempus dapibus nec risus vivamus sem bibendum. Risus feugiat sociis habitant justo dictum commodo a fringilla dis maecenas inceptos, blandit non libero potenti rutrum hendrerit aliquet nec nulla. Volutpat venenatis semper rutrum ornare id pellentesque curabitur suspendisse aliquet, cubilia accumsan convallis facilisi mauris ac est lobortis, sem nostra aptent gravida interdum sodales primis mus.</p>
  </div>
</div>