<!DOCTYPE html>
<html>
  <head>
    <title>Tumblr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400:700' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div id="sidebar">
      <ul>
        <li class="category"><%= link_to "Tumblr", root_path %></li>
        <li><%= link_to "Posts", root_path %></li>
        <li><%= link_to "About", about_path %></li>
      </ul>

      <% if !user_signed_in? %>
        <p class="sign_in"><%= link_to "User Login", new_user_session_path %></p>
      <% end %>
	</div>

  <div id="main_content">
		<div id="header">
      <% if current_page?(root_path)%>
        <p>Post Feed</p>
      <% elsif current_page?(about_path)%>
        <p>My Site</p>
      <% else %>
        <%= link_to "Back to Post Feed", root_path %>
      <% end %>

      <% if user_signed_in? %>
      <div class="buttons">
        <button class="button"><%= link_to "Make Post", new_post_path%></button>
        <button class="button"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></button>
      </div> 
      <% end %>

		</div>	
		
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert") %>
		<% end %>

		<%= yield %>

	</div>

  </body>
</html>
